<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=Archivo+Black" rel="stylesheet"> 
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet"> 
    <link href="https://fonts.googleapis.com/css?family=Nunito" rel="stylesheet"> 
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/home.css">
    <title>CV Professional</title>
  </head>
  <body>
    
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
   <a class="navbar-brand" href="index.html"><img src="../images/Logo.png" width="50%" height="50%" alt=""></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav ml-auto mr-5">
          <a class="nav-item nav-link active" href="index.html">Home </a>
          <a class="nav-item nav-link" href="about.html">About</a>        
        </div>
      </div>
    </nav>
    <div class="container  shadow ">
        <h1 class="my-4 text-center">About us</h1>
        <p class="text-center">We make a beautiful and professional CV within reach for everyone</p>
        <hr>
        <p style="font-weight: 700;">About CV MATE</p>
        <p>Many people have difficulties in creating their perfect CV. CV MATE started from the idea of making professional CVs possible for everyone. With our CV maker, you can create a professional CV through our step-by-step process in just 10 minutes</p>
        <p class="mt-2">We work with recruiters to create the right content grids which we convert into professional CV templates. Our CVs give you the ability to stand out from others in the best way. The templates we have created are integrated within our CV maker, making it incredibly easy to change the order and place of your content or to change the colors of your template. We give you the ability to create and download a professional CV in just a few minutes.</p>
        <p style="font-weight: 700;">About CV MATE</p>
        <p>Send an email to support@cvmate.com</p>

        <!-- team  -->
      <hr>
     <section class="team-section text-center my-5 pb-5">
    <h2 class="h1-responsive font-weight-bold my-5">Our amazing team</h2>
    <div class="row">
      <div class="col-lg-3 col-md-6 mb-lg-0 mb-5">
        <div class="avatar mx-auto">
          <img src="../images/cv.jpg" class="rounded-circle z-depth-1" style="height: 200px; width: 200px;">
        </div>
        <h5 class="font-weight-bold mt-4 mb-3">Shohanur Rahman</h5>
        <p class="text-uppercase "><strong>Web developer </strong></p>
          <a class="p-2 fa-lg fb-ic">
            <i class="fab fa-facebook-f "> </i>
          </a>
          <a class="p-2 fa-lg tw-ic">
            <i class="fab fa-twitter "> </i>
          </a>
          <a class="p-2 fa-lg ins-ic">
            <i class="fab fa-instagram "> </i>
          </a>
        </ul>
      </div>
      <div class="col-lg-3 col-md-6 mb-lg-0 mb-5">
        <div class="avatar mx-auto">
            <img src="../images/neloy.PNG" class="rounded-circle z-depth-1" style="height: 200px; width: 200px;">
        </div>
        <h5 class="font-weight-bold mt-4 mb-3">Taufiq Ahommed Neloy</h5>
        <p class="text-uppercase blue-text"><strong>Web developer</strong></p>
          <a class="p-2 fa-lg fb-ic">
            <i class="fab fa-facebook-f blue-text"> </i>
          </a>
          <a class="p-2 fa-lg ins-ic">
            <i class="fab fa-instagram blue-text"> </i>
          </a>
        </ul>
      </div>
      <div class="col-lg-3 col-md-6 mb-md-0 mb-5">
        <div class="avatar mx-auto">
            <img src="../images/emon.PNG" class="rounded-circle z-depth-1" style="height: 200px; width: 200px;">
        </div>
        <h5 class="font-weight-bold mt-4 mb-3">Rashedul Islam</h5>
        <p class="text-uppercase blue-text"><strong>WEB DEVELOPER</strong></p>

          <a class="p-2 fa-lg fb-ic">
            <i class="fab fa-facebook-f blue-text"> </i>
          </a>
       
          <a class="p-2 fa-lg ins-ic">
            <i class="fab fa-instagram blue-text"> </i>
          </a>
          <a class="p-2 fa-lg ins-ic">
            <i class="fab fa-dribbble blue-text"> </i>
          </a>
        </ul>
      </div>
      <div class="col-lg-3 col-md-6">
        <div class="avatar mx-auto">
            <img src="../images/tomi.jpg" class="rounded-circle z-depth-1" style="height: 200px; width: 200px;">
        <h5 class="font-weight-bold mt-4 mb-3">Kazi Zarin Tasnim</h5>
        <p class="text-uppercase blue-text"><strong>SQL developer</strong></p>
          <a class="p-2 fa-lg fb-ic">
            <i class="fab fa-facebook-f blue-text"> </i>
          </a>
          <a class="p-2 fa-lg ins-ic">
            <i class="fab fa-github blue-text"> </i>
          </a>
        </ul>
      </div>
    </div>
  </section>
</div>

<footer class="page-footer font-small bg-color">
  <div class="container ">
    <div class="row ">
      <div class="col-md-12 py-2">
        <div class=" my-3 flex-center" style="color: wheat;">
          <a class="fb-ic">
            <i class="fab fa-facebook-f fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
          </a>
          <a class="tw-ic">
            <i class="fab fa-twitter fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
          </a>
          <a class="gplus-ic">
            <i class="fab fa-google-plus-g fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
          </a>
          <a class="li-ic">
            <i class="fab fa-linkedin-in fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
          </a>
          <a class="ins-ic">
            <i class="fab fa-instagram fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
          </a>
          <a class="pin-ic">
            <i class="fab fa-pinterest fa-lg white-text fa-2x"> </i>
          </a>
        </div>
      </div>
    </div>

  </div>

  <div class="footer-copyright text-center py-3 " style="color: aliceblue;">© 2020 Copyright:
    <a href="https://facebook.com/shohan.swe" target="_blank" > Hunter group</a>
  </div>


</footer>
    
    <script src="../js/jquery-3.3.1.slim.min.js"></script>
    <script src="../js/popper.min.js"></script>
    <script src="../js/bootstrap.min.js"></script>
  </body>
</html>